# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Storedie
Thumbs.db

# Data (optional - if datasets are large)
data/raw/
data/processed/